@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  background-color: hsla(146, 23%, 94%, 0.992);
  height: auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: rgb(150, 53, 8);
  transition: 0.4s;
}

@media (hover: hover) {
 
  }


@media (min-width: 1024px) {
 

 
}
